<div class="user-data-display">
  <span class="user-data" style="font-weight: bold">{{ user.name }}</span>
  <img src="{{user.pfp}}" class="user-pfp" alt="user-profile-pfp">
  <span class="user-data">{{'userDataDisplay.age' | translate}}: {{ user.age }}</span>
  <span class="user-data">{{'userDataDisplay.email' | translate}}: {{ user.email }}</span>
  <span class="user-data">{{'userDataDisplay.address' | translate}}: {{ user.address }}</span>
  <span class="user-data">{{'userDataDisplay.joinedAt' | translate}}: {{ user.joined_at }}</span>
</div>
<mat-divider></mat-divider>
<div class="user-options-list">
  <mat-list>
    <mat-list-item>
      <span matListItemTitle class="user-options-list-title">{{'userOptionsList.subscriptionStatus' | translate}}</span>
    </mat-list-item>
    <div class="user-options">
      <span class="user-options-list-line"><a routerLink="/user/subscription" style="text-decoration: none; color: black">{{'userOptionsList.manageSubscription' | translate}}</a></span>
    </div>
    <mat-list-item>
      <span class="user-options-list-title">{{'userOptionsList.account' | translate}}</span>
    </mat-list-item>
    <div class="user-options">
      <span class="user-options-list-line"><a routerLink="/user/edit-data" style="text-decoration: none; color: black">{{'userOptionsList.userData' | translate}}</a></span>
      <span class="user-options-list-line"><a routerLink="/user/license" style="text-decoration: none; color: black">{{'userOptionsList.driversLicense' | translate}}</a></span>
      <span class="user-options-list-line"><a routerLink="/user/insurance" style="text-decoration: none; color: black">{{'userOptionsList.insurance' | translate}}</a></span>
    </div>
    <mat-list-item>
      <span matListItemTitle class="user-options-list-title">{{'userOptionsList.customerSupport' | translate}}</span>
    </mat-list-item>
    <div class="user-options">
      <span  class="user-options-list-line"><a routerLink="/faq" style="text-decoration: none; color: black">{{'userOptionsList.faq' | translate}}</a></span>
      <span  class="user-options-list-line"><a routerLink="/support" style="text-decoration: none; color: black">{{'userOptionsList.contactSupport' | translate}}</a></span>
    </div>
  </mat-list>
</div>
