<div class="content-container">
  <div>
    <h2>Frequently asked questions</h2>
  </div>
  <div class="faq-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>What is DriveNow?</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the answer</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Question 2?</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the answer 2</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Question 3?</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the answer 3</p>
      </mat-expansion-panel><mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Question 4?</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the answer 4</p>
    </mat-expansion-panel><mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Question 5?</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the answer 5</p>
    </mat-expansion-panel><mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Question 6?</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the answer 6</p>
    </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/resources">More information about DriveNow</button>
  </div>
</div>

