<div class="contact-us">
  <div class="contact-container">
    <!-- Formulario de contacto -->
    <div class="contact-form">
      <h2>Contáctanos</h2>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" id="name" name="name" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Presupuesto</mat-label>
          <input matInput type="text" id="budget" name="budget" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" id="email" name="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mensaje</mat-label>
          <textarea matInput id="message" name="message" rows="4" required></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </form>
    </div>

    <!-- Redes sociales -->
    <div class="contact-social">
      <div class="social-item">
        <img src='https://i.postimg.cc/fyjF5jWv/ig.png' alt="Instagram">
        <p>INSTAGRAM</p>
      </div>
      <div class="social-item">
        <img src='https://i.postimg.cc/NjSYh7Tx/x.png' alt="X">
        <p>X</p>
      </div>
      <div class="social-item">
        <img src='https://i.postimg.cc/C5BCxwXn/fb.png' alt="Facebook">
        <p>FACEBOOK</p>
      </div>
      <div class="social-item">
        <img src='https://i.postimg.cc/RZs1vqVd/link.png' alt="LinkedIn">
        <p>LINKEDIN</p>
      </div>
    </div>
  </div>
</div>
