<div class="vehicle-container"></div>
<mat-card class="vehicle-card" appearance="outlined">
  <div class="vehicle-content">
    <img mat-card-lg-image [ngSrc]="vehicle.vehicleImageURL" alt="Vehicle image" width="30" height="100"
         class="vehicle-image">
    <div class="vehicle-text">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title><strong>{{ vehicle.vehicleModel }}</strong></mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p><strong>Year:</strong> {{ vehicle.vehicleManufacturingYear }}</p>
        <p><strong>Insurance:</strong> {{ vehicle.vehicleInsurance }}</p>
        <p><strong>Status:</strong> {{ vehicle.vehicleStatus }}</p>
      </mat-card-content>
    </div>
  </div>
</mat-card>
