<div class="main-container">
  <div class="card-subscription-container">
    <div>
      <mat-card class="subscription-card">
        <div class="content-container">
          <p class="subscription-type-text">Free</p>
          <div class="price-container">
            <h1>$0</h1>
            <p>/month</p>
          </div>
          <ul>
            <li>Drivenow community</li>
            <li>Limited car access</li>
            <li>Standard waiting time</li>
            <li>Base support</li>
            <li>Drivenow resources</li>
          </ul>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" class="subscription-button">Select</button>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card class="subscription-card">
        <div class="content-container">
          <p class="subscription-type-text">Platinum</p>
          <div class="price-container">
            <h1>$10</h1>
            <p>/month</p>
          </div>
          <ul>
            <li>Drivenow community</li>
            <li>Entire fleet access</li>
            <li>Preference waiting time</li>
            <li>Premium support</li>
            <li>Priority offers</li>
            <li>Platinum lock</li>
          </ul>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" class="subscription-button">Select</button>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card class="subscription-card">
        <div class="content-container">
          <p class="subscription-type-text">Golden</p>
          <div class="price-container">
            <h1>$25</h1>
            <p>/month</p>
          </div>
          <ul>
            <li>Drivenow community</li>
            <li>Verified badge</li>
            <li>Preference waiting time</li>
            <li>Premium support</li>
            <li>Priority offers</li>
            <li>Golden lock</li>
            <li>Reward system</li>
          </ul>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" class="subscription-button">Select</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
