form {
  border: 2px solid #cccccc;
  border-radius: 25px;
  max-width: 330px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.example-margin {
  align-self: flex-start;
  margin-bottom: 20px;
}

.btn-register {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #dddddd;
  background-color: #2C3E50;
}
