<h4>Edit Name</h4>
<div class="form-section">
  <form (submit)="onSubmit()" #userForm='ngForm' class="form-row">
    <mat-form-field>
      <input matInput placeholder="Name" name="name" required [(ngModel)]="user.name" [readonly]="!editMode">
    </mat-form-field>
    <ng-container>
      @if(editMode) {
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      } @else {
        <button mat-raised-button color="primary" (click)="editName()">Edit</button>
      }
    </ng-container>
  </form>
</div>
