@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.license-display{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.license-image {
  width: 500px;
  margin: 20px;
}

.mat-card {
  font-family: "Open Sans", sans-serif;
}
