.offers-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  overflow-x: hidden;
}

.sidebar {
  flex: 0 0 30%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.sidebar mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.sidebar mat-checkbox {
  margin-bottom: 20px;
  color: #2ECC71;
}

.mat-checkbox .mat-checkbox-background {
  background-color: #2ECC71 !important;
}

.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  border-color: #2ECC71 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #2ECC71 !important;
}


.mat-checkbox-checked .mat-checkbox-frame {
  border-color: #2ECC71 !important;
}


.mat-checkbox:hover .mat-checkbox-frame {
  border-color: #2ECC71 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: #2ECC71;
}


.mat-calendar-body-cell:hover {
  background-color: rgba(46, 204, 113, 0.1);
}

.mat-calendar-body-selected {
  background-color: #2ECC71 !important;
  color: white !important;
}

.mat-calendar-body-today {
  border-color: #2ECC71 !important;
}

.offers-list {
  flex: 0 0 70%;
  padding: 10px;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}

.offers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 230px;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.card-content h3 {
  font-size: 18px;
  font-weight: bold;
}

.card-content p {
  font-size: 14px;
  margin: 5px 0;
}

.card-footer button {
  font-size: 12px;
}

h2 {
  font-size: 30px;
  padding: 10px 0 15px 20px; /* Arriba 10px, derecha 0, abajo 10px, izquierda 10px */
}

